body {
    width: 100%;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

    table th, table td {
        overflow: hidden;
        vertical-align: middle !important;
        text-align: center;
    }

.buttonDiv {
    vertical-align: middle !important;
    align-items: center;
    text-align: center;
}

.buttonDivas {
    display: inline-block;
    vertical-align: middle !important;
    margin-right: 10px;
}